
body{
    background: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
h1{
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
.video-container{
    width:600px;
    margin: 0 auto;
    overflow:hidden;
    position:relative;
}
video{
    width:100%;
    height: auto;
}
.controls{
    left:0;
    bottom:0;
    position: absolute;
    width:100%;
    background: #0000;
}
.time-display{
    color: #ffff;
    /*font-variant-numeric: tabular-nums; */
    font-weight: 400;
    margin-left: 20px;

}
.progress-bar{
    height: 6px;
    width:100%;
    border-bottom:1px solid  grey;
}
.progress{
    transform: scaleX(0);
    height: 100%;
}
.controls-container {
    display: flex;
    align-items: center;
    padding: 5px 5px;
}
.controls-container button img {
    width:20px

}
input[type="range"]{
    height: 5px;
}
.mute-btn{
    margin: 0 20px;

}
